@import './variables.less';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: @bg-secondary;
  color: @text-primary;
  font-size: @font-size-base;
  background: transparent !important;
  overflow: hidden;
}

#app {
  height: 100%;
  background: transparent !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c0c4cc;
  border-radius: 3px;

  &:hover {
    background: #909399;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}